<section class="container column">
  <div class="title">Informações da área de risco</div>
  <div>
    <label class="label">Nome:</label>
    <label class="information"> Localização 1</label>
  </div>
  <div>
    <label class="label">Latitude:</label>
    <label class="information">  -19.939165045090476</label>
  </div>
  <div>
    <label class="label">Longitude:</label>
    <label class="information">  -43.999111399648655</label>
  </div>
  <div>
    <label class="label">Situação:</label>
    <label class="information">  0</label>
  </div>
  <div>
    <label class="label">Pessoas cadastradas:</label>
    <label class="information">  10</label>
  </div>
  <label class="label">Situação nos próximos dias:</label>
  <div class="today-container-common"> 
    <div *ngFor="let day of days" class="days-container">
      <div class="today-info-title-bottom">
        {{day.day}}
      </div>
      <div class="today-info-bottom">
        <img class="risk-img" src={{day.danger}}>
      </div>
    </div>
  </div>
</section>