.container {
	max-width: 80%;
	margin: 0 auto;
  // border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.title{
  font-size: 30px;
    width: 100%;
    margin: 0 0 12px 0;
    text-align: center;
    padding-bottom: 20px;
    background-color: #063b5e;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a1{
  display: flex;
  flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.label {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 4px 20px;
}

.information {
  font-size: 20px;
  margin: 0 0 10px 20px;
}

.today-container-common{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 60px auto;
  border-radius: 15px;
  justify-content: center;
}
.today-info-container{
  @extend .today-container-common;
  width: 70%;
  box-shadow: 6px 7px 16px 0 rgba(0, 0, 0, 0.2);
}
.common{
  font-size: 25px;
  padding: 18px;
  width: 100%;
}
.today-info-title{
  @extend .common;
  background: rgb(6, 59, 94);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  color: white;
}
.today-info{
  @extend .common;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.days-container{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 6px 7px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0 20px 20px 20px;
}
.common-bottom{
  font-size: 18px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-info-title-bottom{
  @extend .common-bottom;
  background: rgb(6, 59, 94);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}
.today-info-bottom{
  @extend .common-bottom;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: white;
  height: 50%;
}
.risk-img-container{
  width: 100px;
  height: auto;
  margin: 0 30px 0 0;
}
.risk-img{
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px){
  .label{
    width: 100%;
  }
  .title{
    font-size: 20px;
  }
}