<div class="nav-bar">
  <a class="closebtn" (click)="changeNavBar(false)" matTooltip="Fechar Menu" matTooltipPosition="above">&times;</a>

  <!-- ROTAS COMUNS USUARIO DESLOGADO -->
  <a [routerLink]="['sign-in']" *ngIf="!isAuthenticated"><i class="material-icons">vpn_key</i>Login</a>
  <a [routerLink]="['sign-up']" *ngIf="!isAuthenticated"><i class="material-icons">input</i>Cadastro</a>

  

  <!-- ROTAS COMUNS ADMIN -->
  <a [routerLink]="['admin-home']" *ngIf="isAuthenticated && isAdmin"><i class="material-icons">home</i>Home</a>
  <a [routerLink]="['create-risk-area']" *ngIf="isAuthenticated && isAdmin"><i class="material-icons">map</i>Cadastrar área de risco</a>
  <a [routerLink]="['list-risk-area']" *ngIf="isAuthenticated && isAdmin"><i class="material-icons">list_alt</i>Listar área de risco</a>
  <a *ngIf="isAuthenticated && isAdmin" (click)="logout()"><i class="material-icons">arrow_back</i>Logout</a>

  <!-- ROTAS COMUNS USER -->
  <a [routerLink]="['user-home']" *ngIf="isAuthenticated && isUser"><i class="material-icons">home</i>Home</a>
  <a [routerLink]="['user-home']" *ngIf="isAuthenticated && isUser"><i class="material-icons">add_location</i>Cadastrar área</a>
  <a [routerLink]="['meteorology']" *ngIf="isAuthenticated && isUser"><i class="material-icons">wb_sunny</i>Meteorologia</a>
  <a [routerLink]="['config']" *ngIf="isAuthenticated && isUser"><i class="material-icons">settings</i>Configuração</a>
  <a [routerLink]="['area-situation']" *ngIf="isAuthenticated && isUser"><i class="material-icons">info</i>Situação</a>
  <a *ngIf="isAuthenticated && isUser" (click)="logout()"><i class="material-icons">arrow_back</i>Logout</a>

</div>

<div class="top-header">
  <a (click)="changeNavBar(true)" matTooltip="Abrir Menu" matTooltipPosition="right">
    <i class="material-icons" id="btnmenu" [hidden]="navBarOpen">menu</i>
  </a>
  <span class="title"><a [routerLink]="['/']">Controle Supervisionado de Deslizamento</a></span>
</div>
