table {
  width: 100%;
}

.mat-header-cell {
  justify-content: flex-end;
  text-align: center;
}

td, th {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.filter {
  width: 100%;
}
.container {
	max-width: 80%;
	margin: 0 auto;
  // border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.column {
	flex-direction: column;
}

.title{
  font-size: 30px;
  width: 100%;
  margin: 30px 0 0 0;
  text-align: center;
}