#map {
  height: 45vh;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}

.titlePage {
  font-size: 30px;
  width: 100%;
  text-align: center;
  background-color: #063b5e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: row-reverse;
  img{
    width: 62px;
    margin-right: 40px;
  }
}

.container {
  max-width: 68%;
    max-height: 100%;
    margin: 40px auto;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  // padding: 10px;
}

.label {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.input {
  width: 100%;
  margin-bottom: 15px;
}

button {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titleCenter {
  text-align: center;
  width: 100%;
}

@media (max-width: 768px){
  .container{
    max-width: 88%;
  }
  .titlePage{
    font-size: 20px;
    img{
      margin-right: 10px;
    }
  }
}