<section class="container">
  <div class="titlePage">Cadastre sua área</div>
  <form [formGroup]="riskAreaForm">
      <mat-form-field class="input">
        <mat-select required (selectionChange)="changeCenter($event)">
          <mat-option value="2">CEFET - Campus I</mat-option>
          <mat-option value="1">CEFET - Campus II</mat-option>
        </mat-select>
        <mat-label><mat-icon>visibility</mat-icon> Selecione a área que deseja monitorar</mat-label>
      </mat-form-field>   
      <div id="map"></div>
      <button [routerLink]="['/user-home']" mat-raised-button color="primary">Cadastrar</button>
    </form>
</section>