<section class="container">
  <div class="titlePage">Cadastrar área de risco</div>
  <form [formGroup]="riskAreaForm">
      <mat-form-field class="input">
        <input matInput placeholder="Nome" formControlName="name" required>
        <mat-error *ngIf="riskAreaForm.get('name').hasError('required')">
          Digite o nome da área
        </mat-error>
      </mat-form-field>
      <label class="label">Informe o nível de risco dos parâmetros abaixo</label>
      <br/>
      <!-- Inclination -->
      <label>Inclinação:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
      <input type="radio" formControlName="inclination" value="1"> Muito baixo 
      <input type="radio" formControlName="inclination" value="2"> Baixo
      <input type="radio" formControlName="inclination" value="3"> Médio
      <input type="radio" formControlName="inclination" value="4"> Alto
      <input type="radio" formControlName="inclination" value="5"> Muito alto
      <br/>
      <!-- High -->
      <label>Altura:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="radio" formControlName="high" value="1"> Muito baixo 
      <input type="radio" formControlName="high" value="2"> Baixo
      <input type="radio" formControlName="high" value="3"> Médio
      <input type="radio" formControlName="high" value="4"> Alto
      <input type="radio" formControlName="high" value="5"> Muito alto
      <br/>
      <!-- Potential -->
      <label>Potencial de vítimas:&nbsp;</label>
      <input type="radio" formControlName="potential" value="1"> Muito baixo 
      <input type="radio" formControlName="potential" value="2"> Baixo
      <input type="radio" formControlName="potential" value="3"> Médio
      <input type="radio" formControlName="potential" value="4"> Alto
      <input type="radio" formControlName="potential" value="5"> Muito alto
      <br/>
      <br/>
      <label class="label">Desenhe no mapa a área de risco:</label>      
      <div id="map"></div>
      <button [routerLink]="['/list-risk-area']" mat-raised-button color="primary">Cadastrar</button>
    </form>
</section>