#map {
  height: 55vh;
    width: 88%;
    margin: 0 auto 20px;
    border-radius: 12px;
}

.titlePage {
  font-size: 30px;
  width: 100%;
  text-align: center;
  background-color: #063b5e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: row-reverse;
  img{
    width: 62px;
    margin-right: 40px;
  }
}

.container {
  max-width: 80%;
    max-height: 100%;
    margin: 20px auto 80px auto;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.label {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.input {
  width: 100%;
  margin-bottom: 15px;
}

button {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titleCenter {
  text-align: center;
  width: 90%;
  padding: 16px;

}
.options-holder{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  div{
    margin: 0px 26px;
    label{
      margin-right: 12px;
    }
  }
}

@media (max-width: 768px){
  .options-holder{
    justify-content: flex-start;
    mat-form-field{
      width: 100%
    }
  }
  .titlePage{
    font-size: 20px;
    img{
      margin-right: 10px;
    }
  }
}