<section class="container">
  <div class="titlePage">Cadastrar área de risco<img src="assets/add.svg"></div>
  <form [formGroup]="riskAreaForm">
      <div style="width: 80%;
                  display: flex;
                  justify-content: center;
                  margin: 20px auto;">
          <mat-form-field class="input">
              <input matInput placeholder="Nome" formControlName="name" required>
              <mat-error *ngIf="riskAreaForm.get('name').hasError('required')">
                Digite o nome da área
              </mat-error>
            </mat-form-field>
      </div>
      
      <div class="titleCenter">Informe o nível de risco dos parâmetros abaixo e desenhe no mapa a área de risco</div>
      <br/>
      <br/>
      <div class="options-holder">
        <div>
            <label>Inclinação:</label>
            <mat-form-field>
              <select matNativeControl required>
                <option value="Muito baixo">Muito baixo</option>
                <option value="Baixo">Baixo</option>
                <option value="Médio">Médio</option>
                <option value="Alto">Alto</option>
                <option value="Muito alto">Muito alto</option>
              </select>
            </mat-form-field>
        </div>
        
        <div>
            <label>Altura:</label>
            <mat-form-field>
              <select matNativeControl required>
                  <option value="Muito baixo">Muito baixo</option>
                  <option value="Baixo">Baixo</option>
                  <option value="Médio">Médio</option>
                  <option value="Alto">Alto</option>
                  <option value="Muito alto">Muito alto</option>
              </select>
            </mat-form-field>
        </div>
        <div>
            <label>Potencial de vítimas:</label>
            <mat-form-field>
              <select matNativeControl required>
                  <option value="Muito baixo">Muito baixo</option>
                  <option value="Baixo">Baixo</option>
                  <option value="Médio">Médio</option>
                  <option value="Alto">Alto</option>
                  <option value="Muito alto">Muito alto</option>
              </select>
            </mat-form-field>
        </div>
        
      </div>
      <br/>
      <br/> 
      <div id="map"></div>
      <button [routerLink]="['/list-risk-area']" mat-raised-button color="primary" 
      style=" margin: 20px auto;
              width: 150px;
              display: block;
              font-weight: 500;
              font-size: 15px;
              background-color: #063b5e">Cadastrar</button>
    </form>
</section>