<div class="container">
    <div class="title">Situação da Área</div>
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="handleMap($event)">
    <mat-tab id="lala" label="Sua localização ao vivo">
    </mat-tab>
    <mat-tab label="Área cadastrada">
      <div class="today-info-container" style="flex-wrap: wrap">
        <div class="today-info-title">
          {{today.day}}
        </div>
        <div class="today-info">
          <div class="risk-img-container">
            <img class="risk-img" src={{today.danger}}>
          </div>
          <div class="today-info-text">
            {{today.info}}
          </div>
        </div>
      </div>
    
      <div class="today-container-common">
        <div *ngFor="let day of days" class="days-container">
          <div class="today-info-title-bottom">
            {{day.day}}
          </div>
          <div class="today-info-bottom">
            <img class="risk-img" src={{day.danger}} (click)="changeDay(day)" >
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>  
  <div [ngStyle]="{'display' : showMap === 0 ? 'block' : 'none'}" id="map"></div>
</div>